body {
  background-color: green;
  background-image: url(4019feced4827a091631603356fc3b5a.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

